@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Familjen+Grotesk:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb:
        0, 0,
        0
            /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
            --website-background: 248,
        250, 252;
}

body {
    background: rgb(var(--website-background));
}

/* @layer utilities {
    .text-balance {
        text-wrap: balance;
    }
} */

.front {
    transform-origin: 100% 100%;
    transform: skewX(60deg) scaleY(0.5);
}

.left {
    transform-origin: 0 0;

    transform: rotate(90deg) skewX(-30deg) scaleY(0.866);
}

.top {
    transform-origin: 0 0;
    transform: translateY(-400%);
}

.cube-container {
    perspective: 1000px;
    width: 200px;
    height: 200px;
    position: relative;
}

/* @layer utilities {
    .text-shadow {
        text-shadow: px 2px #000;
    }
} */

.squiggle {
    --tw-text-opacity: 1;
    border-width: 0;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    font-family:
        DM Sans,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
    padding: 0 0.5rem 0.5rem;
    position: relative;
    background-position: 0 100%;
    background-repeat: repeat-x;
    display: inline-block;
    font-style: italic;
    transition: color 0.3s linear;
}

.squiggle::after {
    visibility: hidden;
    overflow: hidden;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-18 17.5 20 5'%3E%3Cpath fill='none' stroke='%23dae1e7' stroke-width='2' d='M-18 21.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E");
    background-size: 20px 5px;
    background-repeat: repeat-x;
    animation: shift 1s linear infinite;
    animation-play-state: paused;
}

.squiggle:hover::after,
.squiggle:focus::after {
    animation-play-state: running;
    visibility: visible;
}

@keyframes shift {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: -20px 100%;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-[hsl(var(--border))];
    }
    body {
        @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
    }
}

.myshadow-md {
    box-shadow:
        0px 8px 16px 0px rgba(35, 39, 45, 14%),
        0px 1px 4px 0px rgba(35, 39, 45, 15%),
        0px 4px 18px 0px rgba(35, 39, 45, 20%);
}

.myshadow-sm {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
